<div class="row">
  <div class="col-sm-auto">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{currentUser == null ? 'Seleccione usuario' : currentUser.name}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item" *ngFor="let user of (usersList | async)" (click)="onUserSelect(user)">{{user.name}}</button>
      </div>
    </div>
  </div>

</div>

<div class="row" style="margin: 10px">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Subtarea</th>
      <th scope="col">Usuario</th>
      <th scope="col">Check</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let subtask of (subtasksList | async )">
      <td>{{ subtask.name }}</td>
      <td>Cosas</td>
      <td><input type="checkbox" [checked]=""></td>

    </tr>
    </tbody>
  </table>

  <button class="btn btn-primary" (click)="reasignTasks()">Reasign</button>

</div>


