<ion-content *ngIf="!loading" class="ion-padding">
  <div *ngIf="!isUserInGroup">
    <ion-label id="withoutGroupLabel">User don't have a group</ion-label>
  </div>

  <div *ngIf="isUserInGroup">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Groups</ion-label>
            <ion-select id="groupSelect" value="unselected" okText="Okay" cancelText="Dismiss" (ionChange)="onGroupSelect($event)">
              <ion-select-option *ngFor="let group of (groupStorage._groups | async)" [value]="group" >{{group.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label>Users</ion-label>
            <ion-select id="userSelect" [value]="selectedUser" okText="Okay" cancelText="Dismiss" (ionChange)="onUserSelect($event)">
              <ion-select-option *ngFor="let user of (userStorage._usersGroup | async)" [value]="user" >{{user.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row>
        <app-board></app-board>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>

<ion-content *ngIf="loading" class="ion-padding">
  <app-loading-spiner></app-loading-spiner>
</ion-content>
