<ion-header>
  Tasks
</ion-header>

<ion-content *ngIf="!loading" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Users</ion-label>
          <ion-select value="All" okText="Okay" cancelText="Dismiss" (ionChange)="onUserSelect($event)">
            <ion-select-option *ngFor="let user of (userStorage._usersGroup | async)" [value]="user" >{{user.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let subtask of (subtaskStorage._subtasksUser | async)">
            <ion-label>{{ subtask.name }}</ion-label>
            <ion-label>{{ subtask.description }}</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="loading" class="ion-padding">
  <app-loading-spiner></app-loading-spiner>
</ion-content>
