<div *ngIf="!loadingGroups" class="container">
  <div class="row">
    <div class="col-sm-auto">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{currentGroup.name}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" *ngFor="let group of (groupsList | async)" (click)="onGroupSelect(group)">{{group.name}}</button>
        </div>
      </div>
    </div>

    <div class="col-sm-auto">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>{{currentUser.name}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" *ngFor="let user of (usersList | async)" (click)="onUserSelect(user)">{{user.name}}</button>
        </div>
      </div>
    </div>

    <div class="col-sm-auto">
      <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue">
    </div>


  </div>

  <div class="row">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Subtarea</th>
        <th scope="col">Usuario</th>
        <th scope="col">Multa</th>
        <th scope="col">Eliminar</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let penalty of (penaltysList | async); index as i">
        <td>{{ penalty.date }}</td>
        <td>{{ penalty.subtask.name }}</td>
        <td>{{ penalty.user.name }}</td>
        <td>{{ penalty.amount }}</td>
        <td>
          <button type="button" class="close" data-dismiss="alert" (click)="onClickDelete(user)">
            <span aria-hidden="true">×</span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary" (click)="onClickAddPenalty()">Añadir</button>
  </div>

  <div class="row">
    <div *ngIf="addPenalty">
      <form (ngSubmit)="onAddPenalty(f)" #f="ngForm">
        <div class="form-group">
          <label>Date</label>
          <input type="name" id="nameSubtask2" name="name" #name="ngModel" ngModel class="form-control" required>
          <span class="help-block" *ngIf="!name.valid && name.touched">Please enter a name!</span>
          <label>Subtask</label>
          <input type="description" id="description2" name="description" #description="ngModel" ngModel class="form-control" required>
          <span class="help-block" *ngIf="!description.valid && description.touched">Please enter a description!</span>
          <label>User</label>
          <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>{{currentUser.name}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" *ngFor="let user of (usersList | async)" (click)="onUserSelect(user)">{{user.name}}</button>
              </div>
            </div>
          <span class="help-block" *ngIf="!penalty.valid && penalty.touched">Please enter a penalty!</span>
          <label>Amount</label>
          <input type="penalty" id="penalty2" name="penalty" #penalty="ngModel" ngModel class="form-control" required>
          <span class="help-block" *ngIf="!penalty.valid && penalty.touched">Please enter a penalty!</span>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Modificar</button>
        <button type="button" class="btn" (click)="onClickCancelUpdateSubtask()">Atrás</button>

      </form>
    </div>
  </div>
</div>

<div *ngIf="loadingGroups" class="container">

</div>
