<div *ngIf="!loadingGroups" class="container">
  <div class="row">
    <div class="col-sm-auto">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{currentGroup.name}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" *ngFor="let group of (groupsList | async)" (click)="onGroupSelect(group)">{{group.name}}</button>
        </div>
      </div>
    </div>

    <div class="col-sm-auto">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>{{currentUser.name}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" *ngFor="let user of (usersList | async)" (click)="onUserSelect(user)">{{user.name}}</button>
        </div>
      </div>
    </div>

    <div class="col-sm-auto">
      <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue">
    </div>


  </div>
</div>

<div *ngIf="loadingGroups" class="container">

</div>
