
      <form (ngSubmit)="onUpdate()" [formGroup]="formUpdateTask">
          <ion-item>
            <ion-label for="name">Name</ion-label>
            <ion-input class="ion-text-right" type="name" id="name" name="name" formControlName="name" [value]="task.name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label for="description">Description</ion-label>
            <ion-input class="ion-text-right" type="description" id="description" name="description" formControlName="description" [value]="task.description"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Initial date</ion-label>
            <ion-datetime type="dateIni" id="dateIni" name="dateIni" formControlName="dateIni" [value]="task.dateIni"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label>End date</ion-label>
            <ion-datetime type="dateEnd" id="dateEnd" name="dateEnd" formControlName="dateEnd" [value]="task.dateEnd"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label>EstimatedTime</ion-label>
            <ion-input class="ion-text-right" type="estimatedTime" id="estimatedTime" name="estimatedTime" formControlName="estimatedTime" [value]="task.estimatedTime"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>State</ion-label>
            <ion-input class="ion-text-right" type="state" id="state" name="state" formControlName="state" [value]="task.state.name"></ion-input>
          </ion-item>

          <ion-button id="registerButton" type="submit" [disabled]="!formUpdateTask.valid">Update</ion-button>
        </form>



