<ion-header>
  User settings
</ion-header>

<ion-content *ngIf="!loading" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <form id="userForm" (ngSubmit)="update()" [formGroup]="form">
          <ion-item>
            <ion-label for="name">Name</ion-label>
            <ion-input [(ngModel)]="userLogged.name" type="name" id="name" name="name" formControlName="name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label for="name">Second name</ion-label>
            <ion-input [(ngModel)]="userLogged.secondName" type="secondName" id="secondName" formControlName="secondName"></ion-input>
          </ion-item>

          <ion-button id="updateButton" type="submit" [disabled]="!form.valid || !form.dirty">Update profile</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="loading" class="ion-padding">
  <app-loading-spiner></app-loading-spiner>
</ion-content>
