<ion-header>
  User management
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>{{currentGroup.name}}</ion-label>
              <ion-select id="selectGroup" value="unselected" okText="Okay" cancelText="Dismiss" (ionChange)="onGroupSelect($event)">
                <ion-select-option *ngFor="let group of (groupStorage._groups | async)" [value]="group" >{{group.name}}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-button id="addGroup" type="button" (click)="onClickAddGroup()">Add Group</ion-button>
            <ion-button id="updateGroup" type="button" [disabled]="!groupSelected" (click)="onClickUpdateGroup()">Update Group</ion-button>
            <ion-button id="deleteGroup" type="button" [disabled]="!groupSelected" (click)="onClickDeleteGroup()">Delete Group</ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-grid id="usersList">
            <ion-row>
              <ion-col>Name</ion-col>
              <ion-col>Second Name</ion-col>
              <ion-col>Email</ion-col>
              <ion-col>Delete</ion-col>
            </ion-row>

            <ion-row *ngFor="let user of (userStorage._usersGroup | async); index as i">
              <ion-col>{{ user.name }}</ion-col>
              <ion-col>{{ user.secondName }}</ion-col>
              <ion-col>{{ user.mail }}</ion-col>
              <ion-col>
                <ion-button type="button" class="close" data-dismiss="alert" (click)="onClickDelete(user)">
                  <ion-label aria-hidden="true">×</ion-label>
                </ion-button>
              </ion-col>
            </ion-row>


          </ion-grid>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>{{currentUser.name}}</ion-label>
              <ion-select id="selectUser" okText="Okay" cancelText="Dismiss" (ionChange)="onUserSelect($event)" [value]="currentUser">
                <ion-select-option *ngFor="let user of (userStorage._usersWithoutGroup | async)" [value]="user">{{user.name}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-button id="addUserButton" [disabled]="!groupSelected || !userSelected" (click)="onAddUser()">Añadir</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col>
        <app-group-update *ngIf="updateGroupClicked" [group]="currentGroup" id="updateGroupComponent"></app-group-update>
        <app-group-add *ngIf="addGroupClicked" id="addGroupComponent"></app-group-add>
      </ion-col>

    </ion-row>



  </ion-grid>
</ion-content>
