<div class="board-column" id="{{state._id}}" cdkDropList [cdkDropListData]="taskStorageService._tasksGroups | async" (cdkDropListDropped)="drop($event)">
    <div class="column-title">
      {{ state.name }}
    </div>

    <div class="tasks-container"><!-- cdkDropList -->
      <app-task *ngFor="let task of (taskStorageService._tasksGroups | async | taskFilter : state:group:user)" [task]="task" (click)="openModalTaskUpdate(task)" cdkDrag [cdkDragData]="task"></app-task><!-- cdkDrag -->
    </div>

</div>
<button class="btn" (click)="openModalTaskAdd()">Add a task...</button>
