.task {
  display: flex;
  padding: 15px 12px;
  background: white;
  border-radius: 4px;

  margin-bottom: 15px;

  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05),
  0 3px 14px 2px rgba(0, 0, 0, 0.05);
}

.projectName {
  font-weight: bolder;
  margin-right: 5px;
  color: rgba(black, 0.8);
}

.taskName {
  font-weight: 500;
  color: rgba(black, 0.8);
}
