<div *ngIf="project | async as project">

  <div [style.backgroundColor]="project.color" style="padding: 24px">

    <div class="row" mat-dialog-title style="margin: 0; display: flex">
      <div class="col-auto">
        <div class="navbar-collapse">
          <div ngbDropdown placement="bottom-left" class="d-inline-block">
            <button class="btn btn-outline-primary" style="font-size: 1rem; font: 500 20px/32px Roboto, 'Helvetica Neue', sans-serif; color: rgba(0, 0, 0, 0.87); padding: 0 10px 0 10px;" id="dropdownBasic2" ngbDropdownToggle>{{ project.name }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
              <button *ngFor="let project of (projects | async)" class="dropdown-item" style="cursor: pointer" (click)="onSelectProject(project)">{{ project.name }}</button>
            </div>
          </div>
         </div>
      </div>

      <div class="col-auto" style="padding: 0;">
        <app-edit-input [data]='task.name' (focusOut)='saveName($event)'></app-edit-input>
      </div>
      <div class="col text-right">
        <button type="button" class="close" data-dismiss="alert" (click)="onClickClose()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
    </div>

  </div>

  <div mat-dialog-content style="margin: 0; padding-top: 24px">
    <app-edit-input [data]='task.description' (focusOut)='saveDescription($event)'></app-edit-input>
    <p>{{task.timeSpend}}</p>
  </div>

  <div>
    <button class="btn btn-danger" style="margin-left: 24px; margin-top: 75px" (click)="deleteTask()">Delete</button>
  </div>

</div>


