<ion-content *ngIf="!loadingGroup" class="ion-padding">
  <ion-grid>

    <ion-row>

      <ion-col>

        <ion-item id="selectGroupIon">
          <ion-label>{{currentGroup.name}}</ion-label>
          <ion-select id="selectGroup" value="unselect" okText="Okay" cancelText="Dismiss" (ionChange)="onGroupSelect($event)">
            <ion-select-option *ngFor="let group of (groupStorage._groups | async)" [value]="group" >{{group.name}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-list id="tasksList">
          <ion-item *ngFor="let task of (taskStorage._tasksGroup | async)" (click)="onClickTask(task)" [ngClass]="{'active': currentTask == task}">
            <ion-label>{{ task.name }}</ion-label>
            <ion-button type="button" class="close" data-dismiss="alert" (click)="onClickDeleteTask(task)">
              <ion-label aria-hidden="true">×</ion-label>
            </ion-button>
          </ion-item>
        </ion-list>
        <ion-button *ngIf="groupSelected" (click)="onClickAdd()" id="addTask">Add Task</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="loadingGroup" class="ion-padding">
  <app-loading-spiner></app-loading-spiner>
</ion-content>
