<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

    <h1>Register UserModel</h1>
    <hr>
    <form (ngSubmit)="onSignup(f)" #f="ngForm">

      <div class="form-group">
        <label for="email">Mail</label>
        <input type="email" id="email" name="email" #email="ngModel" ngModel class="form-control" required email>
        <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" id="password" name="password" #password="ngModel" ngModel class="form-control" minlength="8" required>
        <span class="help-block" *ngIf="!password.valid && password.touched">Password must have more than 8 characters!</span>
      </div>

      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" id="confPassword" name="confPassword" #confPassword="ngModel" ngModel class="form-control" minlength="8" required compare="password">
        <div class="text-danger" *ngIf="confPassword.invalid && ( confPassword.dirty || confPassword.touched)">
          <div *ngIf="confPassword.errors['required']">Password confirm is required</div>
          <div *ngIf="!confPassword.errors['required'] && confPassword.errors['compare']">Password confirm do not match</div>
        </div>
      </div>

      <div class="form-group">
        <label>Name</label>
        <input type="name" id="name" name="name" #name="ngModel" ngModel class="form-control" required>
        <span class="help-block" *ngIf="!name.valid && name.touched">Please enter a name!</span>
      </div>

      <div class="form-group">
        <label>Second name</label>
        <input type="secondName" id="secondName" name="secondName" #secondName="ngModel" ngModel class="form-control" required>
        <span class="help-block" *ngIf="!secondName.valid && secondName.touched">Please enter a second name!</span>
      </div>


      <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Register</button>
      <a routerLink="/signIn"><button type="button" class="btn" routerLinkActive="active">Back</button></a>

    </form>
  </div>
</div>


