<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-header>
        Register User
      </ion-header>
    </ion-row>
    <ion-row>
      <ion-row>
        <form (ngSubmit)="signUp()" [formGroup]="form">
          <ion-item>
            <ion-label for="email">Mail</ion-label>
            <ion-input type="email" id="email" name="email" formControlName="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label for="password">Password</ion-label>
            <ion-input type="password" id="password" name="password" formControlName="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Confirm Password</ion-label>
            <ion-input type="password" id="confPassword" name="confPassword" formControlName="confPassword"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Name</ion-label>
            <ion-input type="name" id="name" name="name" formControlName="name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Second name</ion-label>
            <ion-input type="secondName" id="secondName" name="secondName" formControlName="secondName"></ion-input>
          </ion-item>

          <ion-button type="button" class="btn" routerLinkActive="active">Sign Up</ion-button>

          <ion-button type="submit" [disabled]="!form.valid">Register</ion-button>
          <ion-button type="button" class="btn" (click)="onBack()">Back</ion-button>


        </form>
      </ion-row>
    </ion-row>
  </ion-grid>
</ion-content>

