<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-title (click)="openMenu('custom')">Piset</ion-title>
      </ion-col>
      <ion-col>
        <ion-label>Total month penalty: </ion-label>
      </ion-col>
    </ion-row>


  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">



  <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Custom Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>

        <ion-label>Tasks</ion-label>tasks
        <ion-item routerLink="/main/tasks" (click)="closeMenu('custom')">Tasks</ion-item>

        <ion-label>History</ion-label>
        <ion-item routerLink="/main/history" (click)="closeMenu('custom')">History</ion-item>

        <ion-label>Admin</ion-label>
        <ion-item routerLink="/main/admin/taskManagement" (click)="closeMenu('custom')">Admin-Tasks</ion-item>
        <ion-item routerLink="/main/admin/userManagement" (click)="closeMenu('custom')">Admin-Users</ion-item>
        <ion-item routerLink="/main/admin/penaltyManagement" (click)="closeMenu('custom')">Admin-Penalties</ion-item>
        <ion-item routerLink="/main/admin/groupManagement" (click)="closeMenu('custom')">Admin-Groups</ion-item>

        <ion-label>Account</ion-label>
        <ion-item routerLink="/main/user/info" (click)="closeMenu('custom')">Account-Info</ion-item>
        <ion-item routerLink="/main/user/settings" (click)="closeMenu('custom')">Account-Settings</ion-item>
        <ion-item (click)="logOut()">Account-LogOut</ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>


</ion-content>


