<ion-content *ngIf="!loading" class="ion-padding">

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>Group invited</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Accept</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Decline</ion-label>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let invitation of (invitationStorage._userInvitations | async)">
        <ion-col>
          <ion-label>{{ invitation.groupName }}</ion-label>
        </ion-col>
        <ion-col>
          <ion-button (click)="acceptInvitation(invitation)">Accept</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="declineInvitation(invitation)">Decline</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>


    <form (ngSubmit)="invite()" [formGroup]="form">
      <ion-item>
        <ion-label for="email">Email</ion-label>
        <ion-input type="email" id="email" name="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-button type="submit" [disabled]="!form.valid">Invite</ion-button>

    </form>



</ion-content>

<ion-content *ngIf="loading" class="ion-padding">
  <app-loading-spiner></app-loading-spiner>
</ion-content>

