<ion-header>
  Invitations
</ion-header>


<ion-content *ngIf="!loading" class="ion-padding">

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>Group</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Accept</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Decline</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-row *ngFor="let invitation of (invitationStorage._userInvitations | async)">
      <ion-col>
        <ion-label>{{ invitation.groupName }}</ion-label>
      </ion-col>
      <ion-col>
        <ion-button (click)="acceptInvitation(invitation)">Accept</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="declineInvitation(invitation)">Decline</ion-button>
      </ion-col>
    </ion-row>
</ion-content>

<ion-content *ngIf="loading" class="ion-padding">
  <app-loading-spiner></app-loading-spiner>
</ion-content>

