<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>Environment: {{environment.environment}}</ion-row>
    <ion-row>
      <ion-col>
        <img width="300" height="300" alt="Angular Logo" src="assets/img/icon.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <form (ngSubmit)="signIn()" [formGroup]="form">
        <ion-item>
          <ion-label for="mail">Mail</ion-label>
          <ion-input id="mail" type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label for="password">Password</ion-label>
          <ion-input id="password" type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-button id="signInButton" type="submit" block>Sign In</ion-button>
        <ion-button id="signUpButton" type="button" (click)="signUp()">Sign Up</ion-button>

      </form>
    </ion-row>

  </ion-grid>
</ion-content>
