<ion-grid>
  <ion-row>
    <ion-col>
      <form id="userForm" (ngSubmit)="update()" [formGroup]="form">
        <ion-item>
          <ion-label for="name">Name</ion-label>
          <ion-input [(ngModel)]="user.name" type="name" id="name" name="name" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label for="name">Second name</ion-label>
          <ion-input [(ngModel)]="user.secondName" type="secondName" id="secondName" formControlName="secondName"></ion-input>
        </ion-item>

        <ion-button id="updateButton" type="submit" [disabled]="!form.valid || !form.dirty">Update profile</ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
