<div *ngIf="!loading" class="container">
  <div class="row">

    <div class="col-sm-6">
      <h1 class="h1">
        Grupos
      </h1>

      <ul class="list-group">
        <a class="list-group-item" style="cursor: pointer" *ngFor="let group of (groupsList | async)" (click)="onClickGroup(group)">
          <div class="row">
            <div class="col-md-10">
              {{ group.name }}
            </div>

            <div class="col-md-2">
              <button type="button" class="close" data-dismiss="alert" (click)="onClickDelete(group)">
                <span aria-hidden="true">×</span>
              </button>
            </div>

          </div>
        </a>

      </ul>

      <button type="button" class="btn btn-primary" (click)="onClickAdd()">Añadir</button>
      <!--<button type="button" class="btn btn-danger">Eliminar</button>-->

    </div>


    <div *ngIf="add" class="col-sm-6">
      <h1>Añadir grupo</h1>
      <hr>
      <form (ngSubmit)="onAddGroup(f)" #f="ngForm">
        <div class="form-group">
          <label>Name</label>
          <input type="name" id="name" name="name" #name="ngModel" ngModel class="form-control" required>
          <span class="help-block" *ngIf="!name.valid && name.touched">Please enter a name!</span>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Añadir</button>
        <button type="button" class="btn" (click)="onClickCancel()">Atrás</button>

      </form>
    </div>

    <div *ngIf="!add" class="col-sm-6">
      <h1>Usuarios</h1>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let user of currentUsers">
          {{ user.name }}

        </li>

      </ul>

    </div>
  </div>
</div>

<div *ngIf="loading">
  <app-loading-spinner></app-loading-spinner>
</div>
